body{font-family: 'Lato', sans-serif;}
h1
{   
    font-size: 35px;
    font-weight: 900;
    text-align: center;
}
.a{
    font-size: 15px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
}
p{
    font-style: italic;
    font-size: 20px;
    text-align: center;
}
.h2{
    font-size: 25px;
    text-align: left;
    font-style: normal;
    font-weight: 900;
}
.h4{
    font-size: 20px;
    text-align: left;
    font-style: normal;
    font-weight: 800;
}
h4{
    font-size: 18px;
    text-align: left;
    font-style: normal;
    font-weight: 700;
    
}
.p{
    font-size: 15px;
    text-align: left;
    font-style: normal;

}